[2017-08-08 12:58] GregMefford opened #10 "Describe how to do initial setup in docs"
Reported by Tommy Fisher on Slack.

It turns out `Nerves.Network.setup` isn’t meant to be supervised like `Nerves.Networking` was.
Since it returns an `:ok` tuple, its supervisor won't restart it, however, the `SystemRegistry` removed its info when the process died (since it was a transient `Task`).

Update the docs with a usage example so people know not to run it as a transient supervised `Task`

[2017-08-08 17:11] tokafish commented on #10
Thanks for adding the issue, @GregMefford, this sums it up. I'm happy to contribute a PR for the docs - however, I'm not clear on what the right suggested approach should be. I'm just calling setup in my firmware application's `start`, which seems reasonable to me, but is there something better?

[2017-08-09 23:56] type1fool commented on #10
Please consider adding a step about adding nerves_network to deps. It's obvious in hindsight, but newbs will appreciate the coddling.

[2017-08-10 03:25] tokafish commented on #10
I've taken a stab at improving the docs - with an eye to:

1) Make sure users don't forget about adding to deps/applications
2) Give an example of how you might call modprobe (asked on Slack)
3) Warn that `setup` should not be called in a process that terminates (as was the case for previous nerves networking libs)

Happy to add more if desired!

[2017-08-11 03:12] LTheGreats opened #12 "What USB WiFi adapters does this work with?"
What USB WiFi adapters does this work with? Does it work with all of them?

[2017-08-11 18:07] fhunleth commented on #12
There shouldn't be anything adapter-specific in `nerves_network`. The usual issue is that the Nerves system that you're using doesn't have the kernel driver for the adapter. The solution is to make a custom kernel with the driver, but I'd check the Nerves system's repo that you're using to see if it has yours. We've supported a bunch in the past, but now that boards are more frequently coming with

[2017-08-11 21:38] LTheGreats commented on #12
Okay!

[2017-08-11 21:38] #12 closed

[2017-08-13 15:02] #10 closed

[2017-08-14 00:33] fhunleth opened #14 "Setup section can be easily misunderstood if read too quickly"
See https://github.com/nerves-project/nerves_network#setup. I'd suggest deleting the whole section so as to avoid anyone trying to load a kernel module manually. At least one person has done this and it seems like enough time has gone by that the `nerves_runtime` update has probably hit everyone.

I think that we should have a troubleshooting section and have instructions for checking that the ker

[2017-08-14 00:35] fhunleth opened #15 "IPv6 support"
Add support for IPv6. This should be done in a way where IPv4 can still be used. Given that IPv6 could include a lot of things, for this issue, I'm just looking for a way to to get IPv6 addresses assigned to interfaces whether they be static ones, link local or DHCP-based.

[2017-08-14 00:37] fhunleth opened #16 "Link local addresses don't provide conflict detection"
This is required by the RFC to make sure that an IP address conflict doesn't occur. See https://tools.ietf.org/html/rfc3927#page-13.

[2017-08-14 00:42] fhunleth opened #17 "Handle strings for the :key_mgmt option"
One of the most common typos reported on the slack channel is typing the following:

`key_mgmt: "WPA-PSK"`

instead of:

`key_mgmt: :"WPA-PSK"`

It seems like this could easily be fixed by making the key_mgmt be a string rather than an atom. To avoid breaking old code, we should still support atoms.

[2017-08-14 00:52] fhunleth opened #18 "NervesNetwork.status/1 should query SystemRegistry"
Currently it calls into `nerves_network_interface` which only returns a subset of the state of the interface. Calling into SystemRegistry seems more appropriate now that we have it as well.

[2017-08-14 00:59] fhunleth opened #19 "Add example for how to listen for network updates"
While this is technically a `system_registry` thing, It feels really helpful to anyone using the library. Here's an example:

https://github.com/fhunleth/nerves_init_gadget/blob/v0.1.0/lib/nerves_init_zero/network_manager.ex#L16
https://github.com/fhunleth/nerves_init_gadget/blob/v0.1.0/lib/nerves_init_zero/network_manager.ex#L20-L29

[2017-08-14 01:30] fhunleth opened #20 "Add typespecs to the API"
These should be propagated back to `nerves_network_interface` and `nerves_wpa_supplicant` where possible.

[2017-08-14 01:56] fhunleth opened #21 "Add documentation for system registry keys"
This is for all of the config and state keys involved with networking. I suspect that it's best to include keys provided by `nerves_network_interface` and `nerves_wpa_supplicant` for completeness since it will be annoying to jump around projects for the total picture. However, I'm open to other thoughts on handling this.

[2017-08-14 12:30] fhunleth opened #22 "Nerves.Network.teardown/1 doesn't tear down"
I was expecting `teardown/1` to disassociate from the access point and cleanup the IP addresses assigned to the link. I.e., restore the link to what it looked like before `setup/2` was called. That's not happening. Here's what I did:

[code]

As you can see `wlan0` still has an IP address.

[2017-08-14 12:42] fhunleth opened #23 "Network.setup/2 should not return the delta"
Here's what I did:

[code]

I think that it's a feature to allow for multiple SSIDs with the hope that any one of them might associate. However, I think that calling setup a second time on the same SSID is more likely done to change the password (or something else).

[2017-08-14 12:53] mobileoverlord commented on #23
What you are seeing is the return from SystemRegistry.update. You are receiving the pattern `{:ok, {new_reg, old_reg}}`. We could change the returned result from the call to `Nerves.Network.setup/2` to something more normal.

[2017-08-14 13:27] fhunleth opened #24 "If two SSIDs are configured, no reconnect when one goes down"
To reproduce this, setup two access points with different SSIDs. Set them both up with `Nerves.Network.setup/2`. Wait for one to connect. It doesn't matter which one, but verify the connection. Then turn off the access point that connected. The expectation is that `Nerves.Network` will associate with the second access point and everything will work fine. This doesn't happen.

[2017-08-14 13:32] fhunleth opened #25 "Nerves.Network.teardown/1 return value is confusing"
If you have two or more SSIDs configured on the same interface, `teardown/1` just removes one configuration. It should remove all of them. The logic is that if you're calling `teardown/1` then you want to reset the interface to a clean state. I think that anyone wanting to be picky about just tearing down one SSID will want to interface with SystemRegistry directly or if this becomes a common oper

[2017-08-14 14:23] fhunleth commented on #23
Ahhh. That makes so much more sense and explains a lot!

Yes - it would be nice to switch to something more normal. I'll leave this issue open so that this can happen.

[2017-08-14 15:06] ConnorRigby commented on #23
would it be reasonable to simply return `:ok` | `{:error reason}` if there is an error handling mech  for this?

[2017-08-14 15:07] ConnorRigby commented on #24
This is a `wpa_supplicant` feature isn't it? Can't you just tell `wpa_supplicant` you want a list of networks to be tried via their api, and it handles it?

[2017-08-14 15:13] fhunleth commented on #24
This issue is due to my misunderstanding of the return value from `setup/2`. I had thought that you could configure two SSIDs, but you can't. That would be a good feature.

Regarding `wpa_supplicant` handling this, I'm pretty sure that it could do that. `nerves_network` will still need to watch for association events so that it would know to clear IP addresses and redo DHCP.

I'm going to close th

[2017-08-14 15:13] #24 closed

[2017-08-14 15:44] fhunleth commented on #25
I'm misunderstanding the return value. It's returning the old value. I think that it should just return `:ok` if the SystemRegistry calls succeed.

[2017-08-14 15:47] fhunleth commented on #25
Updated the title to reflect the comment above.

[2017-08-14 15:50] fhunleth opened #26 "Loss of WiFi association does not clear interface"
To reproduce, associate with an access point and make sure that you have a good connection and IP works, etc. Then turn off the power to the access point.

The log messages will report that the event `:wifi_disconnected` was sent, but if you run `cmd("ip address")`, you'll see that there's still an IP address attached to the `wlan0` interface. This should have been cleaned up.

[2017-08-15 16:14] #18 closed

[2017-08-20 03:47] electricshaman opened #28 "Change from linklocal to dhcp doesn't trigger lease renewal"
Connecting to a `rpi0` device via serial and changing the `ipv4_address_method` from `:linklocal` to `:dhcp` requires an additional manual step to trigger the lease renewal through `Nerves.Network.Udhcpc`.  Also, there are several errors that follow after calling the renew function on `Nerves.Network.Udhcpc` manually which should be investigated.

[code]

### Steps to reproduce (rpi0 + Mac OSX 10.

[2017-08-20 04:01] electricshaman opened #29 "Using string name of interface instead of atom produces different result"
While testing #28, I noticed that when providing the interface name as a string to `Nerves.Network.setup` that the subsequent call to `Nerves.Network.Udhcpc.renew(Process.whereis(Nerves.Udhcpc))` would not result in a lease renewal.  However, using the atom form `:usb0` did produce the expected results.

[code]

### Steps to reproduce (rpi0)

1. Setup internet connection sharing on the OSX cdc com

[2017-08-20 13:56] fhunleth commented on #29
It was never my intention for atomized interface names to work. @ConnorRigby - when you get to spec-ifying the API here, I think that you should force string names. @electricshaman - the reason that this worked is that it created a whole new GenServer to handle the `:usb0` interface rather than modify it. The modification part is the place that has the bug.

[2017-08-20 14:04] ConnorRigby commented on #29
On setup, ill catch it if its an atom and change it over to a string. That way you can supply either and it will figure it out

[2017-08-20 14:43] fhunleth commented on #29
I'm on the fence on automatic conversion since I'm worried about the atom forms permeating code in people's projects and then becoming confusing when people handle notifications from the SystemRegistry and see strings. Seems better to force one way that's consistent.

Also, if we add predictable interface naming to Nerves at some point, the atom-ized forms will look really inappropriate. Imagine a

[2017-08-20 16:30] electricshaman commented on #29
@ConnorRigby That sounds good.  I like that better than the other way around (converting string to atom).

[2017-08-29 14:46] ConnorRigby commented on #29
#32 I added a warning message, and am converting to a string right now for `scan/1` (and `setup/2`. In the future we can drop support for atoms entirely i think.

[2017-08-29 17:18] ConnorRigby opened #33 "Managers don't handle `:retry_ifadded` message."
When running dialyzer, it notifies about never handling the `:retry_ifadded` message.
I've never seen this in production, and its safe to ignore at the moment. (a warning will be logged)

[code]

we will need to do something with that info, or remove it entirely.

[code]

[2017-09-07 03:45] kyleaa opened #35 "Nerves.Network.teardown/1 not disconnecting from wireless network"
Running on a Raspberry Pi Zero W and connecting to an iPhone 7 personal hotspot, calling `Nerves.Network.teardown "wlan0"` removes the network configuration from the SystemRegistry, but the network remains up. I added in HTTPoison and confirmed that I could successfully make network calls after tearing down the interface.

[code]

[2017-09-24 06:59] Hermanverschooten opened #39 "key_mgmt: NONE, should not send :psk"
When the :key_mgmt == :NONE, the value of :psk should be ignored, and not sent to wpa_supplicant.
When using the preferred method of setting the wlan using environment variables, this causes the following error:

[code]

[2017-09-25 01:27] ConnorRigby opened #41 "`setup` API is too loose"
in ref to #17, #38 and by extension #40 i would like to start an official discussion of the `setup` api.

I don't personally want to support both string and atom keys for things. And this is only one part of this particular issue. I would like to parse and confirm them before passing further down to be messed up anywhere. I think the `parse_settings` function @Hermanverschooten introduced is on th

[2017-09-25 06:27] Hermanverschooten commented on #41
I agree with your sentiment.  As far as the String to Atom goes, currently the underlying WpaSupplicant requires an Atom. I know there is a pull request there too, to allow strings to be used. My idea is we should implement our strategy concerning the config, and massage it to confirm with the called APIs. That will also allow us to enforce our contract, and make it more clear to the users.

[2017-10-10 12:45] fhunleth opened #42 "IPv4 Link-local implementation doesn't detect IP address collisions"
The current IPv4 implementation selects a randomly generated IP address and proceeds to use it without probing for its existence of announcing itself. See https://tools.ietf.org/html/rfc3927#section-2.2.1 for what it should be doing.

[2017-10-10 14:35] fhunleth commented on #39
I merged your fix. Thanks again for figuring this out.

[2017-10-10 14:35] #39 closed

[2017-10-10 18:27] webengineer-max opened #43 "Fix reporting of unhandled DHCP events"
Hello

Reporting at https://github.com/nerves-project/nerves_network/blob/v0.3.4/lib/nerves_network/dhcp_manager.ex#L212 is broken with following error

[code]

--
Max

[2017-10-10 18:45] webengineer-max commented on #43
Pushed https://github.com/nerves-project/nerves_network/pull/44

[2017-10-10 18:49] #43 closed

[2017-10-10 18:51] ConnorRigby opened #45 "Unhandled renew ip address message."
Stolen from #43
[code]

[2017-10-22 17:34] visciang opened #46 "Wireless Rpi3 - nxdomain error"
Just updated to latest nerves_* releases and built a fresh firmware for my RPI3.

[code]

My WiFi connection is correctly established and a IP address is assigned via DHCP to the wlan0 interface. The connection works as expected but the DNS resolution is not working (nxdomain error).

The DNS lookup works pointing to google DNS:
```:inet_res.lookup('nerves-project.org', :in, :a, [nameservers: [{{8

[2017-10-24 19:56] visciang commented on #46
Checked with a clean `nerves_examples/hello_network` build.
I think the issue is related to `nerves_system_rpi3 0.17.0`.

With `nerves_system_rpi3 0.16.1`, the DNS resolution works as expected:
[code]

After upgrading `nerves_system_rpi3 to 0.17.0`, it doesn't work:

[code]

[2017-10-24 21:24] mobileoverlord commented on #46
Thanks for reporting this @visciang. I am able to reproduce the problem and it appears that the symlink for `/etc/resolv.conf -> /tmp/resolv.conf` is missing. When updating to the latest buildroot, we started to provide our own skeleton and it seems that this might have been missed.

I am building a test system now to see if this fixes the issue and should have this patched and out soon.

:heart:

[2017-10-25 16:21] mobileoverlord commented on #46
This should be all fixed in nerves_system_rpi3 v0.17.1 as well as on all other systems. Please update and give it a try. Thanks!

[2017-10-25 16:21] #46 closed

[2017-10-28 17:46] ConnorRigby commented on #20
@fhunleth this was fixed with #34 yeah?

[2017-10-28 17:46] ConnorRigby commented on #23
also fixed with  #34

[2017-10-28 17:47] ConnorRigby opened #47 "Unhandled context when using `dhcp_server` and `static`"
[code]

[2017-10-29 14:59] #47 closed

[2017-10-30 13:57] fhunleth commented on #20
Yep - thanks!

[2017-10-30 13:57] #20 closed

[2017-11-02 03:44] jamesotron commented on #15
IPv6 autoconfiguration is also pretty darn useful. It should automatically detect RA's and configure itself accordingly.

[2017-11-02 15:56] fhunleth commented on #15
Yes, definitely! I know of two companies that use IPv6 w/ Nerves internally. Neither has opensourced their code yet, but I'm really hopefully to get at least one to do it. I'll link to it here when that happens or if anyone beats them to it.

[2017-11-04 10:41] metelik opened #49 "Empty settings in config.exs make any subsequent setup calls ineffective"
When having provided my app with the following config.exs entry:
config :nerves_network, :default,
  eth0: [
  ]

The subsequent call to Nerves.Network.setup "eth0", ipv4_address_method: :dhcp did not seem to have any effect apart from returned :ok status. I would have to dive deeper into the root-cause so far this is the last minute discovery and do not have more data.

[2017-11-16 18:47] adkron commented on #22
I'm having the same issue. I started looking into the matter. When we try to remove the interface from `SystemRegistry`, the interface remains in the registry. I pulled down `SystemRegistry` to make sure that it works with strings and that seems to work fine according to my testing. I now believe that our interaction with the registry might not be right, I'm digging in there now.

[2017-11-16 22:52] metelik commented on #22
I think another issue I had logged might be related:  [https://github.com/nerves-project/nerves_network/issues/49](url) I am trying to fix it with adkron.

[2017-11-17 18:00] adkron commented on #22
You cannot teardown  `:default` interface through `Nerves.Network.teardown/1`. `Nerves.Network.teardown/1` uses priority `:nerves_nerwork` and defaults are started under priority `:default`.

I'm not sure if that is desired or related, but that is what I was initially talking about in this issue. My original hypothesis was wrong, but that was due to the confusing nature of `default`.

If this is t

[2017-11-30 20:46] jpandey0613 opened #52 "auto detection of wired network interface does not work when inserted after booting a device"
If I boot my device without wired connection and plug the ethernet cable later, the device does not detect the wired network interface until I reboot it.

[2017-11-30 20:50] fhunleth commented on #52
Could you provide an example that reproduces this issue on one of the officially supported Nerves platforms?

[2018-03-02 19:23] ejpcmac opened #55 "Can’t set a static IP when using WiFi"
When I try to set a static IP configuration on the `wlan0`, it does not connect to the access point. This is kind of problematic when you want to use the device as a server with a static IP.

## Expected behaviour

You should be able to set the method to `:dhcp` or `:static` like with wired interfaces.

[2018-03-03 21:19] ejpcmac commented on #55
@ConnorRigby I see you’ve already patched this in 315e4037705c0cc195ce46ded13c71fd9ac616bb. Why isn’t this merged on master? Anyway, I’ve checked the history and cherry-picked this commit in a branch on my fork. I don’t have a target with Wi-Fi at home to try this, but I’ll do on Monday morning at work.

[2018-03-03 21:27] ConnorRigby commented on #55
@fhunleth have you had a chance to check this out?

[2018-03-03 21:40] ejpcmac commented on #55
As far as I understand, all commits from `allow_static_wifi_config` have been rebased on master, except the last one effectively allowing the static config.

[2018-03-03 21:42] ConnorRigby commented on #55
Have you tested it out? It's been a while since I worked in this repo, but I believe it is ready for a minor release

[2018-03-03 21:46] ejpcmac commented on #55
@ConnorRigby No, the Raspberry Pi I have at home does not handle WiFi, so I can’t right now. I’ll do this on Monday, I have a Nerves app that works on a Raspberry Pi 3 at work —and I need a static IP on Wi-Fi, that’s why.

[2018-03-03 21:48] fhunleth commented on #55
@ConnorRigby Sorry, I'm not maintaining `nerves_network` so I wasn't even paying attention. Your change looks fine at a glance. Assuming that you and @ejpcmac are good with it, then I think that you should merge it to master and make a new release.

[2018-03-05 09:37] ejpcmac commented on #55
There is an issue with the `ipv4_*` parameters being passed to `wpa_supplicant`, that does not seem to enjoy their presence. I’ll patch this, try, and let you know.

[2018-03-05 20:49] ConnorRigby commented on #55
@ejpcmac let me know if you hit any issues. I've been away for about 3 weeks, and am just now getting back to work, and this is near the top of my list to take care of.

[2018-03-05 21:11] ejpcmac commented on #55
@ConnorRigby I’ve done a pull request #56, all works as expected now. I’ve tried to configure the `wlan0` interface without any `ipv4_*`, then with the DHCP method and static. Both options work.

[2018-03-05 21:12] ConnorRigby commented on #55
Okay cool. I actually have a number of things on that branch where you found that commit that i want to pull in. I'm working on that right now, then i will make sure to address #56

[2018-03-05 21:13] ejpcmac commented on #55
@ConnorRigby Weren’t theese commits rebased on master already? Compare the author dates on both branches, there seems to be lots of identical commits.

[2018-03-05 21:20] ConnorRigby commented on #55
You're right. Thanks for saving me loads of merge commits!

[2018-03-05 21:22] ConnorRigby commented on #55
Okay i just merged that #56 Thanks for the help!

[2018-03-05 21:22] #55 closed

[2018-03-05 21:23] ejpcmac commented on #55
You’re welcome! Thanks for Nerves, I want to use more of this. There are great ideas there.

[2018-03-05 21:24] ConnorRigby commented on #45
Fixed with #54

[2018-03-05 21:24] #45 closed

[2018-03-05 21:30] ConnorRigby commented on #41
in 3.x releases, we are now logging an incompatible type for ifnames such as [here](https://github.com/nerves-project/nerves_network/blob/6a9bb7dab326e58d78edcb20f5afca40769dd4c3/lib/nerves_network/if_supervisor.ex#L19)

Next `major` version update, we will be actually enforcing incompatible types.

[2018-03-05 23:15] #23 closed

[2018-03-05 23:21] ConnorRigby commented on #33
This may have been a premature optimization at the `nerves_network_interface` level.
I had a read thru [the c code](https://github.com/nerves-project/nerves_network_interface/blob/master/src/netif.c) and i don't see any references to returning an `{:error, term()}` tuple.

[2018-03-05 23:21] #33 closed

[2018-03-05 23:25] ConnorRigby commented on #15
@michaelkschmidt has brought it to my attention that [a fork he works with](https://github.com/se-apc/nerves_network) has support for ipv6. Will circle back to this.

[2018-03-06 17:01] ConnorRigby opened #62 "Setting up an interface that doesn't exist will not give an error"
Fixing this will be an api breaking change.
[code]

[2018-03-06 17:58] ConnorRigby commented on #49
@metelik so you think calling `setup/2` should override what is in the application environment/config?

[2018-03-06 18:23] ConnorRigby commented on #49
I found the root of this bug:
https://github.com/nerves-project/nerves_network/blob/master/lib/nerves_network/config.ex#L60

fix coming up

[2018-03-06 18:36] #49 closed

[2018-03-06 18:38] ConnorRigby commented on #42
Closing this issue because it is a duplicate of https://github.com/nerves-project/nerves_network/issues/16

[2018-03-06 18:38] #42 closed

[2018-03-06 19:07] ConnorRigby commented on #28
I believe this will have been fixed with #64 checking right now

[2018-03-06 20:01] #28 closed

[2018-03-06 20:01] ConnorRigby commented on #14
This has since been taken care of right @fhunleth I don't remember the original wording, but i suspect it has something to do with what is now in [this](https://github.com/nerves-project/nerves_network/blob/master/OLD_NERVES_RUNTIME.md) file?

[2018-03-06 20:24] ConnorRigby commented on #41
as of 0.3.7, you will receive warnings on incompatible settings. later versions will officially deprecate old apis

[2018-03-06 20:24] #41 closed

[2018-03-06 20:25] ConnorRigby commented on #29
All setup calls now get casted to a string.
see [here](https://github.com/nerves-project/nerves_network/issues/41#issuecomment-370915628) for details

[2018-03-06 20:25] #29 closed

[2018-03-06 20:28] ConnorRigby commented on #19
[here](https://hexdocs.pm/nerves_network/0.3.7-rc0/handling-network-updates.html#content) are some docs

[2018-03-06 20:28] #19 closed

[2018-03-06 20:29] ConnorRigby commented on #21
[this doc](https://hexdocs.pm/nerves_network/0.3.7-rc0/handling-network-updates.html#content) has links to [this](https://hexdocs.pm/nerves_network_interface/Nerves.NetworkInterface.Worker.html#t:status/0) with all the system registry keys.

[2018-03-06 20:29] #21 closed

[2018-03-06 20:31] ConnorRigby commented on #17
This is fixed now. See [this comment](https://github.com/nerves-project/nerves_network/issues/41#issuecomment-370915628) for potential api breaking issues on later versions.

[2018-03-06 20:31] #17 closed

[2018-03-06 20:32] ConnorRigby commented on #25
https://hexdocs.pm/nerves_network/0.3.7-rc0/Nerves.Network.html#teardown/1 now will return `:ok`, a different bug still exists, where `teardown/1` doesn't really do anything.

[2018-03-06 20:32] #25 closed

[2018-03-06 20:34] ConnorRigby commented on #52
@jpandey0613 Are you still having this issue? Did you ever come up with an example for this? closing for now due to inactivity, but feel free to open again if you still have this issue.

[2018-03-06 20:34] #52 closed

[2018-03-06 20:36] ConnorRigby commented on #35
This issue is sort of a duplicate of #22
I'm going to leave it open, but they will likely both be taken care of at the same time.

[2018-03-27 15:36] rjanja opened #67 "Usage docs should be updated to reference shoehorn"
Took a few extra clicks to figure out that `shoehorn` is the new `bootloader` :-)

[2018-03-27 15:40] ConnorRigby commented on #67
Thanks for this! Ill take a pass at this tonight.

[2018-04-26 17:47] ConnorRigby commented on #67
Sorry this took so long. Fixed on `master` now.

[2018-04-26 17:47] #67 closed

[2018-04-27 08:59] chmanie opened #68 "Show debug information regarding the connection state of WpaSupplicant"
This resulted from a conversation in the nerves slack channel. As far as I understand one would like to register for the events the `WpaSupplicant` emits and handle them accordingly.

[code]

Something like

[code]

[2018-04-27 17:52] ConnorRigby opened #69 "API still not normalized properly."
`Nerves.Network.setup("wlan0", [key_mgmt: "WPA2-PSK", ssid: "someBloop", psk: "longsupersecret"])` just hangs forever.

[2018-05-04 16:29] tmecklem opened #71 "Ideal api for usage"
This is an issue to discuss the general usage API of `nerves_network` and what it should look like relative to what it is currently.

[2018-05-04 16:51] tmecklem opened #72 "Support multiple WiFi networks for an interface"
Nerves.Network doesn't currently support configuring multiple ssids for an interface.

WPA supplicant supports multiple `network` entries with priority (where higher number is higher priority), where the interface scans for ssids and connects to the highest priority network, and Nerves.Network can be modified to accept and configure wpa_supplicant to do that.

POC code to add a configuration to wp

[2018-05-04 17:12] ConnorRigby commented on #71
So i think there are a few levels to this issue. Id like to address and discuss them here.

## Working with WPA Supplicant
Right now when you call `Nerves.Network.setup("wlan0", [some: :settings])` it just get passed pretty much untouched to `Nerves.WpaSupplicant` Ideally these settings would be verified somewhere. `Nerves.Network` kind of knows too much about what goes on inside `Nerves.WpaSuppli

[2018-05-04 17:15] ConnorRigby commented on #71
While thinking about how the api should be structured i think these issues are important to keep in mind:
#72 - Multiple access points for wireless interfaces
#35 - Teardown not really doing anything
#62 - Setting up a non existent interface doesn't raise an error. (do we even want it too?)

[2018-05-04 17:59] fhunleth commented on #71
For #62, you'll need to handle this somehow since interfaces come up asynchronously. It may look like they always exist, but there's a period of time at startup where the USB bus is enumerated, wifi drivers loaded, wifi firmware initialized, etc. and then they show up. It's also important for devices that power down their USB Wifi Dongles to save power when not in use or reset them if WiFi is wonk

[2018-05-04 18:01] ConnorRigby commented on #71
Ah that last part is a use case i hadn't really considered. Good to know about.

[2018-05-08 14:06] pdgonzalez872 opened #73 "`0.3.7-rc0` does not work with `wlan0`, only `eth0`"
Hi!

Following up on https://github.com/nerves-project/nerves_examples/pull/85#issue-186513505 here as it pertains to this repo.

`0.3.7-rc0` seems to work correctly with `eth0` but not with `wlan0`. The fix to have it work was to use `0.3`. I tested with (rpi3) and `0.3.6` works correctly, so it stopped working in the current `.7-rc0`.

cc: @deanchouinard, @ConnorRigby

[2018-05-08 15:16] ConnorRigby commented on #73
Good to know. I hit a couple regressions with this version that i'm going to be taking a look at this week.

[2018-05-10 03:35] tmecklem commented on #72
I pushed a branch with working support for multiple networks to https://github.com/nerves-project/nerves_network/tree/multiple-wifi-networks. It maintains backwards compatibility with:

[code]

while adding support for multiple network config via:

[code]

I'm not particularly attached to the `:networks` key or the nested list of keyword lists. I just wanted to push something forward and see where

[2018-05-17 03:39] tmecklem commented on #72
Testing changes from the `multiple-wifi-networks` branch out for a bit since I saw some crashes during development that gave me pause. They seemed to be unrelated but I want to be more certain before I open a PR.

[2018-06-01 23:19] ConnorRigby opened #74 "wpa-eap networks don't work"
[code]

Full disclaimer, i don't know if all of these fields are correct, but i _personally_ believe they should be. wpa_ctrl receives a ca cert that tries to get parsed into an atom for some reason.

[2018-06-15 23:39] acrogenesis commented on #72
Has there been upates to this issue?

[2018-07-02 15:39] paulanthonywilson commented on #26
Hi,

I wonder if this is associated with an issue I've been seeing. We have a few Pi Zero Ws in the office, streaming data to a server. Intermittently one will disappear from the network. It was hard to  reproduce the issue as it can take days, or sometimes weeks, for it to happen and it wasn't initially clear that it was just a network problem. The WiFi is out of our control, and can be a bit fla

[2018-07-02 15:44] ConnorRigby commented on #26
Yeah that is a separate but related bug. Occasionally system_registry (which backs the network configuration) crashes which causes the configuration to be lost, and the only way to bring it back is to do whatever originally called `setup` again. I've hit this a lot and haven't really put work into a solution yet.

[2018-07-02 15:51] paulanthonywilson commented on #26
👍

(I've implemented a workaround, which kills the networking if the server can't be reached too often. That seems to be holding so far.)

[2018-07-02 15:52] ConnorRigby commented on #26
I unfortunately have to do something similar in most of my Networked Nerves applications.

[2018-08-30 19:15] #73 closed

[2018-10-12 03:27] alde103 opened #90 "Static IP in a WEP network"
### Environment

* Elixir version (`elixir -v`): 1.7.2
* Nerves environment: (`mix nerves.env --info`)
Pkg:         nerves_toolchain_ctng
  Vsn:         1.5.0
  Type:        toolchain_platform
  BuildRunner: nil

  Pkg:         nerves_system_br
  Vsn:         1.5.2
  Type:        system_platform
  BuildRunner: nil

  Pkg:         nerves_system_rpi3
  Vsn:         1.5.0
  Type:        system
  Buil

[2018-10-16 20:38] alde103 opened #91 "Connection to a Hidden Network"
### Environment

* Elixir version (`elixir -v`):
Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Nerves environment: (`mix nerves.env --info`)

|nerves_bootstrap| Environment Package List

  Pkg:         nerves_system_br
  Vsn:         1.5.2
  Type:        system_platform
  BuildRunner: nil

  Pkg:         nerves_toolchain_ctng
  Vsn:         1.5.0
  Type:        toolchain_platform
  BuildRunner: nil

[2018-11-25 13:09] tcoopman opened #92 "running (from IEx) `Network.setup` doesn't seem set a new network"
### Environment

* Elixir version (`elixir -v`): 1.7.3
* Nerves environment: (`mix nerves.env --info`)
[code]

* Shoehorn apps:

iex(multiwifi@nerves.local)11> Shoehorn.children
[code]

### Current behavior

I have a basic setup, started with the template from `nerves_init_gadget`, and a working network configured. When I log into an `IEx` and try to update the network to a new ssid with `Nerves.N

[2018-11-29 19:05] ConnorRigby commented on #92
I also noticed this with `eth0`. I'm not really sure why it's happening. I think it might be a quirk in `SystemRegistry`. Investigating more right now.

[2018-12-20 21:48] GregMefford commented on #72
I think we can close this with version 0.4.0 being released, right?

[2018-12-20 21:49] GregMefford commented on #72
Also, thanks again @tmecklem ❤️

[2018-12-20 21:49] ConnorRigby commented on #72
Whoops yep. Thought the PR would close it. Thanks @tmecklem!!

[2018-12-20 21:49] #72 closed

[2019-01-03 17:16] ConnorRigby commented on #90
I think this should now be fixed on `master`. Would you mind trying it out?

[2019-01-03 17:18] ConnorRigby commented on #71
Closing due to lack of dicussion.
#72 and #35 have been fixed and the API for `setup` has been pretty well normalized since May.

[2019-01-03 17:18] #71 closed

[2019-01-03 17:19] ConnorRigby commented on #69
this is the same as #92 and should be fixed.

[2019-01-03 17:19] #69 closed

[2019-01-04 15:59] ConnorRigby commented on #62
This turned out to be a feature at the end of the day.

[2019-01-04 15:59] #62 closed

[2019-01-04 17:52] ConnorRigby commented on #92
Fixed in #97

[2019-01-04 17:52] #92 closed

[2019-01-04 17:52] ConnorRigby commented on #90
Should be fixed in #97

[2019-01-04 17:52] #90 closed

[2019-01-04 17:53] ConnorRigby commented on #35
Should be fixed in #97 but another PR is open #98 to finalize this.

[2019-01-04 17:53] #35 closed

[2019-01-04 17:53] ConnorRigby commented on #26
Fixed in #97

[2019-01-04 17:53] #26 closed

[2019-01-04 17:53] ConnorRigby commented on #22
Fixed in #97

[2019-01-04 17:53] #22 closed

[2019-01-04 17:55] ConnorRigby commented on #91
I am able to connect to hidden networks. I suspect this has been fixed in recent updates to `nerves_network`. Feel free to reopen if the latest version doesn't work and i will further investigate

[2019-01-04 17:55] #91 closed

[2019-01-07 02:20] alde103 commented on #91
Hello, thanks for checking this issue, however, I'm still having the issue :(, how do you spawn your hidden network??, I use [`create_ap` ](https://github.com/oblique/create_ap) and a tp-link USB Wifi Adapter, I started thinking that the bug maybe in that project, however, my phone can connect to the hidden network and the rpi only connects when I make visible the network, the project that I use f

[2019-01-09 11:48] klingtnet commented on #74
I also failed to connect to an WPA enterprise network. What I tried is to translate a working `wpa_supplicant.conf` into Nerves Network settings.

[2019-01-09 17:04] fhunleth commented on #74
@klingtnet Could you point out where the documentation is broken so that it can be fixed?

[2019-01-09 18:48] alde103 commented on #91
This [comment](https://github.com/nerves-project/nerves_interim_wifi/issues/17) shows the fix; the fix was to add `scan_ssid: 1` to the network configuration :).

[2019-01-09 20:04] ConnorRigby commented on #91
Hey thanks for checking this out! I will be sure to add that to the docs and maybe we can default that to set.

[2019-01-09 23:42] alde103 commented on #91
I would suggest to put it only in the docs, because it appears that `scan_ssid: 1` adds [latency](https://www.raspberrypi.org/forums/viewtopic.php?t=25104) and other rare things haa, maybe this [docs](http://w1.fi/cgit/hostap/plain/wpa_supplicant/wpa_supplicant.conf) would help.

[2019-01-10 09:16] klingtnet commented on #74
[code]

[2019-01-10 16:38] ConnorRigby commented on #74
Unfortunately this has been identified as a bug in Raspberry Pi's kernel. I've personally noticed it happen when the *HOST* machine is on Linux kernel newer than 4.9. Specifically both of my Arch Linux installations have produced this issue. i _thought_ upgrading my host machine to Linux 4.20 fixed it but i noticed it crop back up again. As far as i know there is no fix for it as of yet.

[2019-01-10 16:41] ConnorRigby commented on #74
I've reopened an issue about this. https://github.com/nerves-project/nerves_system_rpi0/issues/79
I closed it when i believed that linux kernel 4.20 fixed it, but that doesn't seem to be the case.

[2019-01-15 18:39] ConnorRigby commented on #74
okay i have a error log of what happens when one tries to use eap networks:
[code]

[2019-01-22 20:00] ConnorRigby commented on #74
This will be fixed as soon as [#24 on nerves_wpa_supplicant](https://github.com/nerves-project/nerves_wpa_supplicant/pull/24) is merged

[2019-05-22 10:04] nicoeg opened #118 "WLAN unknown deconfig event"
### Environment

* Elixir version (`elixir -v`): 1.8.1
* Nerves environment: (`mix nerves.env --info`)
[code]
* Additional information about your host, target hardware or environment that
  may help

Hardware: Raspberry PI 3
Network: Both wifi(wlan0) and lan(eth0) configured

### Current behavior
I received this error from one of our Raspberry Pi's running Nerves. I've not been able to reproduce i

[2019-05-23 20:02] trarbr commented on #118
According to the [udhcpc documentation](https://udhcp.busybox.net/README.udhcpc):

Neither DHCPManager nor WifiManager is able to consume the `:deconfig` event when in the `:up` state. I suppose the effect of crashing is that a new manager and thus a new address is leased, but perhaps it would be better to request a new lease without crashing?

[2019-05-23 23:49] fhunleth commented on #118
I wonder if the lease ran out and `udhcpc` decided that it should deconfigure the interface? It seems like `udhcpc` should automatically start requesting an address again. Agree that it would be better to handle it than crashing.

[2019-07-24 13:53] Qqwy opened #119 "Document (lack of) standardized approach to persisting WiFi connection settings in README"
From the #nerves slack:

This is currently not mentioned in the README. I think it would be great to mention more clearly:

- That by default the runtime settings of `nerves_network` are ephemeral and are lost on restart.
- That this is not something that `nerves_network` provides for you in any way.
- That work is being done on `VintageNet` as alternative that has this functionality but that it i

[2019-08-16 12:31] lawik opened #120 "Is the Limitations part of the README still accurate?"
### Environment

Current GitHub master page.

### Current behavior

The current text is:

### Expected behavior

I was wondering about whether the incredibly verbose thing is still accurate, as well as preparing for a first release. Sounds like it might be a bit dated.

[2019-08-16 12:33] fhunleth commented on #120
Wow, that text definitely isn't correct.

[2019-10-10 16:02] #118 closed

[2020-03-01 05:08] benschinn opened #122 "broken link to examplee"
thee networking example linked appears to be broken:
https://github.com/nerves-project/nerves_network#example-applications

I noticed that there is now a ["hello_wifi"](https://github.com/nerves-project/nerves_examples/tree/master/hello_wifi) example now. Although this example doesn't seem to be using "nerves_network", and rather "vintage_net".

[2020-03-07 22:27] curious-attempt-bunny commented on #122
See https://github.com/nerves-project/nerves_examples/commit/0001e81dfc757954bb7234f919023e39b49087c3